---
name: Release and Cargo publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test:
    name: Build and test (${{ matrix.os }})

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: swatinem/rust-cache@v2
      - name: Build
        run: >
          cargo build
          --locked

      - name: Run fmt check
        run: >
          cargo fmt --
          --check

      - name: Run tests
        run: >
          cargo test

  release-please:
    name: Execute release chores

    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
    outputs:
      created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs: release-please
    if: needs.release-please.outputs.created
    environment: crates.io
    steps:
      - uses: actions/checkout@v6
      - name: Publish
        run: >
          cargo publish
          --locked
          --token ${{ secrets.CARGO_API_KEY }}
